/*General Styles*/

body {
  font-family: Raleway;
  font-size: 16px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

h2 {
  font-family: 'Great Vibes';
  font-size: 2rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.absolute-center {
  justify-content: center;
  align-items: center;
}

/*div {
  border: 1px solid red;
}*/



/*Header Styles*/

header {
  height: 69px;
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: space-between;
}

.header-column {
  display: inline-flex;
}

.logo {
  padding-left: 10px;
}

.logo img {
  height: 50px;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  color: #ccc;
  text-decoration: none;
  margin: 0px 10px;
  padding: 10px;
  display: block;
}

nav a:hover {
  color: #fff;
}



/*Mobile Menu*/

.toggle-menu {
  display: none;
  width: 100%;
  text-align: center;
  text-decoration: none;
  padding: 1rem;
  color: #fff;
}

.active {
  display: block;
}



/*Main Styles*/

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.mission {
  max-width: 1200px;
  width: 100%;
  height: 700px;
  background-image: url(https://jelliott0222.github.io/TeaCozy/resources/images/img-mission-background.jpg);
  background-size: cover;
  background-position: center;
}

.mission-heading {
  background-color: rgba(0,0,0,0.8);
  width: 100%;
}

.tea-month {
  padding: 20px 0;
}

.tea-month-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-container {
  margin: 10px;
  overflow: hidden;
  max-height: 200px;
  max-width: 300px;
  position: relative;
}

.img-container img {
  height: 200px;
  width: 300px;
  transition: all 0.2s ease-in;
}

.img-container:hover img {
  transform: scale(1.2);
}

.img-container h4 {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  margin: 0;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.8);
  width: 100%;
}

.locations-img-container {
  max-width: 1200px;
  width: 100%;
  background-image: url(https://jelliott0222.github.io/TeaCozy/resources/images/img-locations-background.jpg);
background-size: cover;
  background-position: center;
  flex-wrap: wrap;
}

.locations-group {
  padding-bottom: 50px;
}

.locations {
  opacity: 1;
  max-width: 300px;
  width: 100%;
  margin: 0 20px;
  background-color: rgba(0,0,0,0.8);
}

/*Footer Styles*/

footer {
  margin: 0px 20px;
}

.contact-info {
  height: 200px;
  text-decoration: none;
}

.contact-info a {
  color: inherit;
  text-decoration: none;
}

.copyright {
  text-align: left;
}



/*Media Queries*/

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
    overflow: hidden;
    width: 100%;
    background-color: #000;
    position: absolute;
    top: 60px;
    left: 100%;
    transition: all 0.3s ease;
  }

  .toggle-menu {
    display: block;
  }

  .active {
    display: block;
    left: 0;
  }
}
