@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

/* Variables */

$primary-color: rgb(178,34,34);
$secondary-color: rgb(255,255,255); // change later
$dark-color: rgb(0,0,0);
$white: rgb(255,255,255);
$font-serif: 'Roboto Slab';
$font-sans-serif: Roboto;


/* General Styles */

html, body {
  font-size: 18px;
  font-family: $font-sans-serif;
}

.container {
  margin: 0px auto;
  max-width: 960px;
  width: 100%;
  display: flex;
}

.mobile-only {
  display: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: $font-serif;
}



/*Header Styles*/

header {
  .logo-nav-bar {
    background-color: $dark-color;
    font-size: 1rem;
    color: white;
    .container {
      align-items: center;
      justify-content: space-between;
    }
    .logo a {
      display: flex;
      align-items: center;
      img {
        height: 1.5rem;
        margin-left: 0.5rem;
        margin-right: 1rem;
      }
      // a {
      //   text-decoration: none;
      //   color: #fff;
      // }
    }
    .mobile-only {
      display: none;
    }
    .nav-menu {
      ul {
        display: flex;
        justify-content: space-between;
        li a {
          padding: 1rem 0.5rem;
          display: block;
          // color: #fff;
          // text-decoration: none;
          &:hover {
            background-color: $secondary-color;
            color: $dark-color;
          }
        }
        li.cart {
          border-left: 1px solid #555;
          a {
            padding: 1rem;
            &:hover {
              background-color: $primary-color;
              color: $white;
            }
          }
        }
      }
    }
  }
  .main-image {
    background-image: url('../images/moto.jpeg');
    background-size: cover;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .container {
      justify-content: flex-start;
      align-items: center;
      margin-top: 9rem;
    }
    .new-arrival {
      background-color: rgba(0,0,0,0.8);
      padding: 2rem 3rem;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      flex-wrap: wrap;
      max-width: 20rem;
    }
    h1,
    h2 {
      display: block;
      width: 100%;
    }
    h1 {
      font-size: 1.5rem;
      color: lighten($primary-color, 20%);
      margin-bottom: 0.25rem;
    }
    h2 {
      font-size: 2rem;
    }
  }

  /*Navigation*/

  nav {
    background-color: $dark-color;
    .container {
      align-items: center;
      justify-content: space-between;
    }
    ul {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      li {
        flex-grow: 1;
        text-align: center;
        a {
          // color: white;
          // text-decoration: none;
          font-weight: bold;
          padding: 0.75rem 0rem;
          display: block;
          &:hover {
            background-color: $white;
            color: $dark-color;
          }
        }
      }
    }
    span {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      a {
        // color: white;
        // text-decoration: none;
        font-weight: bold;
        padding: 0.75rem 0rem;
        display: block;
      }
    }
  }
}



/*Mobile Menu*/

.toggle-menu {
  display: none;
  text-align: center;
  // text-decoration: none;
  // color: #fff;
  padding: 1rem;
}



/*Main Styles*/

main {
  padding: 3rem 0rem 0rem;
  background-color: #eee;
  section.container {
    flex-wrap: wrap;
    h3 {
      background-color: darken($primary-color, 10%);
      color: $white;
      font-size: 2rem;
      padding: 10px;
      width: 100%;
    }
    article {
      background-color: $white;
      box-shadow: 0px 3px 3px #ccc;
      width: 100%;
      margin: 0.25rem 0;
      display: inline-flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
      overflow: hidden;
      .img-container,
      .article-details {
        padding: 2rem;
        box-sizing: border-box;
      }
      .img-container {
        width: 40%;
        padding-right: 0rem;
        img {
          width: 100%;
        }
      }
      .article-details {
        width: 60%;
        h4 {
          font-size: 1.5rem;
          padding: 0.5rem 0;
        }
        span {
          display: inline-block;
          padding: 0.5rem 0rem;
          color: $dark-color;
          &.product-title {
            font-size: 1.5rem;
            width: 100%;
          }
          &.product-price {
            font-size: 1rem;
            width: 100%;
            color: #999;
          }
          &.product-button {
            background-color: $primary-color;
            color: $white;
            border-radius: 15px;
            padding: 1rem;
            margin: 1rem 0;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
              background-color: darken($primary-color, 20%);
            }
          }
        }
        .view-more-details,
        .supplies-close-button {
          display: none;
        }
        .class-line {
          display: flex;
          justify-content: flex-start;
          i,
          span {
            float: left;
            font-size: 1rem;
          }
          i {
            margin-right: 1rem;
            padding: 0.5rem 0 0.5rem 0.5rem;
            color: $primary-color;
          }
          span {
            padding: 0.5rem;
            width: 100%;
          }
        }
        .class-text {
          padding: 0.5rem;
          li {
            padding: 0.25rem 0;
            i {
              margin-right: 0.5rem;
              color: $primary-color;
            }
          }
        }
      }
      .class-container {
        width: 100%;
        padding: 2rem;
      }
    }
    &.classes-row {
      margin-top: 3rem;
    }
  }
  .feedback-banner {
    background-color: $primary-color;
    color: $white;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    margin: 3rem 0 0;
    p,
    a {
      display: inline-block;
    }
    a {
      padding: 0.5rem 1rem;
      margin: 0.25rem 0 0 0.5rem;
      border: 1px solid #fff;
      border-radius: 0.5rem;
      background-color: #fff;
      color: firebrick;
      font-family: inherit;
      &:hover {
        background-color: $primary-color;
        color: $white;
      }
    }
  }
}



/*Footer Styles*/

footer {
  background-color: $dark-color;
  color: white;
  font-size: 0.75em;
  padding: 2rem;
  .container {
    display: flex;
    flex-wrap: wrap;
    .newsletter-signup {
      padding: 0 0 2rem;
      p {
        font-size: 1rem;
        padding-bottom: 1rem;
      }
      div {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        input[name='newsletter-signup-field'] {
          box-sizing: border-box;
          padding: 0.5rem;
          font-size: 1rem;
          flex: 1 0 auto;
          width: 1%;
          border: none;
        }
        .signup-btn {
          box-sizing: border-box;
          padding: 0.5rem;
          font-size: 1rem;
          line-height: 1rem;
          background-color: $primary-color;
          color: $white;
          cursor: pointer;
        }
      }
    }
    section {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      padding: 1rem 0;
      .footer-info {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        a {
          font-size: 1rem;
          padding: 0.5rem;
          font-family: $font-sans-serif;
          &:hover {
            color: lighten($primary-color, 20%);
          }
        }
        h3 {
          font-size: 1.5rem;
          color: lighten($primary-color, 20%);
          padding: 0 0 1rem;
        }
        .contact-line {
          display: flex;
          justify-content: flex-start;
          i,
          span {
            float: left;
            font-size: 1rem;
          }
          i {
            margin-right: 1rem;
            padding: 0.5rem 0 0.5rem 0.5rem;
          }
          span {
            padding: 0.5rem;
            word-break: break-all;
          }
        }
      }
      .social-links {
        a {
          font-size: 1.2rem;
          padding: 0 0.5rem;
          &:hover {
            color: lighten($primary-color, 20%);
          }
        }
      }
    }
  }
}



/*Media Queries*/

@media only screen and (max-width: 1024px) {

  header nav {
    .container {
      flex-wrap: wrap;
      position: relative;
      a {
        display: block;
      }
      ul {
        display: block;
        overflow: hidden;
        height: 0;
        position: absolute;
        top: 100%;
        transition: all 0.3s ease;
        li {
          display: block;
          background-color: #333;
          a {
            display: block;
            // color: #fff;
            // text-decoration: none;
            padding: 5px;
          }
        }
        &.active {
          height: 100%;
          overflow: visible;
        }
      }
    }
  }

  main section.container article {
    &.product-container {
      width: 50%;

      .img-container {
        width: 100%;
        margin: 0rem;
        padding: 2rem 2rem 0;
        flex: 1 0 auto;
      }
      .article-details {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  header .logo-nav-bar {
    .mobile-only {
      display: block;
    }
    .nav-menu {
      display: none;
      position: absolute;
      top: 3rem;
      width: 100%;
      height: calc(100% - 3rem);
      background-color: $dark-color;
      &.active {
        display: block;
      }
      ul {
        flex-direction: column;
        padding: 2rem 0 0;
        li a {
          text-align: center;
          font-size: 3rem;
        }
      }
    }
  }

  // main section.container article {
  //   &.product-container {
  //     .img-container {
  //       width: 100%;
  //       padding: 2rem;
  //     }
  //     .article-details {
  //       width: 100%;
  //     }
  //   }
  // }

  footer section {
    flex-direction: column;
    .footer-info:first-child {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin: 0 0 1rem;
      h3 {
        width: 100%;
      }
    }
    .social-links {
      margin: 2rem auto 0;
    }
  }
}

@media only screen and (max-width: 550px) {
  main section.container article.class-container {
    position: relative;
    .img-container {
      width: 100%;
      padding: 0rem;
    }
    .article-details {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(255,255,255,0.8);
      padding: 2rem;
      font-weight: bold;
      span.product-button {
        font-weight: normal;
      }
    }
  }
}

@media only screen and (max-width: 470px) {
  header .main-image {
    height: 15rem;
    .container {
      margin-top: 10rem;
      width: 100%;
    }
    .new-arrival {
      padding: 1rem 2rem;
      width: 100%;
      max-width: 100%;
    }
    h1 {
      font-size: 0.77rem;
    }
    h2 {
      font-size: 1rem;
    }
  }

  main section.container {
    justify-content: center;
    article.product-container {
      width: 100%;
    }
  }

    // .classes-row {
    //   flex-wrap: wrap;
    //   .info {
    //     width: 90%;
    //     margin-bottom: 0.5rem;
    //     h3 {
    //       display: inline;
    //       border-bottom: 0;
    //       padding: 1rem 0;
    //     }
    //     span {
    //       display: inline;
    //     }
    //   }
    // }

  .copyright {
    margin: 0px auto;
  }
}

@media only screen and (max-width: 400px) {
  main section.container article .article-details {
    .view-more-details {
      display: block;
      text-decoration: underline;
    }
    .class-more-details {
      display: none;
      &.active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        box-sizing: border-box;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0 2rem;
        background-color: rgba(0,0,0,0.9);
        color: $white;
      }
      .supplies-close-button {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem;
        font-size: 2rem;
        color: $white;
      }
      .class-text .class-supplies,
      .class-line .class-prereq {
        color: $white;
      }
    }
  }
}
