@import url('https://fonts.googleapis.com/css?family=Fauna+One|Raleway');
// @import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

$font-heading: Raleway;
$font-secondary: Raleway;
$font-text: 'Fauna One';


/* General Styles */

* {
  transition: all 0.4s ease;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer {
  flex: none;
}

main {
  flex: 1 0 auto;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-family: $font-heading;
  text-align: center;
}

div, span, p, li, label, input, textarea, figcaption {
  font-family: $font-text;
}



/* Header Styles */

header {
  background: url('../images/the-flatiron-building.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 20px 10px;
  position: relative;
  min-height: 100vh;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 0;
    display: block;
    content: " ";
  }

  * {
    position: relative;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    z-index: 100;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.9);

    h1 {
      float: left;

      a {
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
        text-shadow: 1px 1px 5px #333;
        text-decoration: none;
        color: white;
        display: block;
      }
    }

    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
    }

    ul a,
    .mobile-only a {
      padding: 10px 20px;
      font-size: 18px;
      color: white;
      text-decoration: none;
      border-bottom: 2px solid transparent;

      &:hover {
        border-bottom: 2px solid #fff;
      }
    }
  }

  .motto {
    padding: 300px 0;

    h2 {
      font-size: 4rem;
    }

    h3 {
      font-size: 2.5rem;
    }

    h2, h3 {
      text-shadow: 1px 1px 2px #333;
      color: #fff;
    }
  }
}

.mobile-only {
  display: none;
}



/* Main Section Styles */

main {
  h2 {
    font-size: 32px;
    font-weight: bold;
    padding: 20px;
  }

  h3 {
    font-size: 23px;
    font-weight: bold;
    margin: 1rem 0 0.5rem;
  }

  p {
    font-size: 1.25rem;
  }

  // #info > div {
  //   min-height: 100vh;
  // }
}



/* Our Process */

#ourProcess {
  color: #5B565D;
  padding: 30px 0;
  // min-height: 100vh;
}

.row {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  flex-wrap: wrap;
  // &.vertical {
  //   flex-direction: column;
  //   align-items: center;
  // }
}

.process-item {
  // border-right: 1px solid #ccc;
  padding: 10px 30px;
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  // flex: 1 0 auto;
  // flex-direction: row;
  // justify-content: space-around;
  // align-items: center;
  // margin: 20px;
  // &:last-child {
  //   border-right: none;
  // }
  &:first-child img {
    height: 35px;
  }
  &:nth-child(2) img {
    height: 66px;
  }
  &:last-child img {
    height: 52px;
  }
  img {
    width: auto;
  }
  .process-item-description {
    h3 {
      font-size: 2rem;
    }
  }
}

/*.process-item:hover {
  background-color: #ddd;
  color: #fff;
}*/



/* Designed Border */

#designed {
  background: url('../images/nyc.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 10px;

  font-size: 50px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 8px #333;
  text-align: center;
}



/* Info Sections */

#info {
  display: flex;
  flex-direction: column;
}

.info-section {
  padding: 50px 0;
  color: #5B565D;

  &:nth-child(2) {
    background-color: #5B565D;
    color: #fff;
  }

  p {
    padding: 10px 0;
  }

  &#team {
    .staff-img {
      min-width: 200px;
      max-width: 300px;
      margin: 10px;
      width: 25%;
      height: 25%;
      border-radius: 100%;
      position: relative;
      img {
        border-radius: 50%;
        // width: 400px;
        // height: 400px;
      }
      figcaption {
        position: absolute;
        bottom: 0px;
        left: 0px;
        background-color: rgba(0, 0, 0, 0.7);
        display: block;
        width: 100%;
        text-align: center;
        vertical-align: middle;
        padding: 40px 0px;
        opacity: 0;

        h4 {
          font-size: 1.2rem;
        }
      }
      &:hover figcaption {
        opacity: 1;
      }
    }
    h3#hiring a {
      text-decoration: none;
      background-color: #fff;
      color: #5b565d;
      padding: 10px 20px;
      border: 1px solid #ccc;
      border-radius: 25px;
      font-weight: 100;
      display: inline-block;
      box-shadow: 0px 2px 2px #333;
      &:hover {
        background-color: #ccc;
        box-shadow: 0px 2px 2px #333;
      }
    }
  }

  &#contact {
    .contact-col {
      width: 50%;
      box-sizing: border-box;
      float: left;
      padding: 40px;
      &:last-child {
        border-left: 1px solid #ccc;
      }

      nav {
        margin: 10px 0 0;

        a {
          font-size: 1.5rem;
          margin: 0 5px;
          color: #333;
          &:hover .fa-facebook-square {
            color: #3b5998;
          }
          &:hover .fa-google-plus-square {
            color: #db4437;
          }
          &:hover .fa-twitter-square {
            color: #1da1f2;
          }
          &:hover .fa-dribbble {
            color: #ea4c89;
          }
          &:hover .fa-medium {
            color: #02b875;
          }
        }
      }

      form {
        label {
          text-align: left;
          margin: 10px auto 3px;
        }

        input,
        textarea {
          padding: 5px;
          margin: 0 auto;
          font-size: 1.2rem;
          border: none;
          border-bottom: 1px solid #ccc;
          outline: none;
        }

        input,
        label,
        textarea {
          display: block;
          width: 100%;
          max-width: 600px;
          box-sizing: border-box;
        }

        textarea {
          font-size: 1.5rem;
        }

        input[type="button"] {
          margin: 20px auto 0;
          background-color: #5B565D;
          color: #fff;
          border: 2px solid #5B565D;
          &:hover {
            background-color: #fff;
            color: #5B565D;
          }
        }
      }
    }
    p {
      font-size: 1.2rem;
    }
  }
}

.folio.row,
.staff.row {
  flex-wrap: wrap;
}

.folio-img,
.staff-img {
  flex: 1 0 25%;
  height: auto;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }
}

.folio-img {
  position: relative;
  min-width: 300px;
  margin: 3px;

  &:hover img {
    transform: scale(1.1, 1.1);
  }

  figcaption {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;

    h3 {
      color: #fff;
      top: 50%;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      opacity: 1;
    }
  }
}



/* Footer Styles */

footer {
  font-size: 11px;
  background-color: #5B565D;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;

  span {
    color: rgba(255,255,255,0.6);
  }

  >nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
  }
  .copyright-row {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
  }
  a {
    color: rgba(255,255,255,0.6);
    padding: 0 10px;
    text-decoration: none;
    font-size: 0.9rem;

    &:hover {
      color: rgba(255,255,255,1);
    }
  }
}



/* Media Queries */

@media only screen and (max-width: 900px) {
  header nav {
    h1 a {
      font-size: 24px;
    }

    ul {
      display: none;
      right: 0;
      clear: both;
      width: 100%;
      margin-top: 15px;
      border-top: 1px solid #fff;
      text-align: center;
      transition: all 0.5s ease;
      box-sizing: border-box;
      &.active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: calc(100vh - 73px);
      }
      li a {
        padding: 1rem;
        display: block;
        border-bottom: none;
        font-size: 2rem;
        &:hover {
          background-color: #fff;
          color: #5B565D;
          border-bottom: none;
        }
      }
    }

    .mobile-only,
    .mobile-only a,
    .mobile-only a:hover {
      display: block;
      border-bottom: none;
    }
  }
}

@media only screen and (max-width: 750px) {
  .info-section#contact .contact-col {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  header {
    nav {
      ul {
        width: 100%;
        clear: both;
      }
    }
    &.motto {
      padding: 100px 0;
    }
  }

  .row {
    flex-wrap: wrap;
  }

  .process-item {
    .process-item-description h3 {
      font-size: 1.5rem;
    }
    // flex-basis: 100%;
    // margin: 0;
    // padding: 20px 0;
    // border-radius: 0;
    // border: none;
    // border-top: 1px solid #ccc;
    // &:last-of-type {
    //   border-bottom: 1px solid #ccc;
    // }
  }

  footer .copyright-row {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    nav {
      flex-direction: column;
      margin-bottom: 20px;
      width: 100%;
      display: inline-flex;
      a {
        padding: 5px 0;
      }
    }
  }
}

@media only screen and (max-width: 300px) {
  #designed {
    font-size: 1rem;
  }

  .folio-img {
    flex: 1 0 100%;
    min-width: auto;
  }
}
