/*https://jelliott0222.github.io/fotomatic/resources/images/banner-landingpage.jpg*/

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|NTR|Muli:700|Nunito+Sans:700');

html, body {
  font-size: 16px;
  font-family: NTR;
}

* {
  box-sizing: border-box;
}

.col-left {
  width: 60%;
  padding: 2rem 1.5rem;
}

.col-right {
  width: 40%;
  padding: 2rem 1rem;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Nunito Sans';
  color: #2C4870;
  padding-top: 2rem;
}

h4 {
  font-size: 2.2rem;
  font-weight: bold;
}



/* Header Styles */

header {
  padding: 0 1.5rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Lato;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #9b9b9b;
}

.logo b {
  font-weight: bold;
  color: #2C4870;
}

header nav a {
  margin: 0 1rem;
  color: #2C4870;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px 0;
}

header nav a:last-child {
  margin-right: 0;
}

nav a:hover {
  color: #000;
  border-bottom: 2px solid #2C4870;
}

.mobile-nav {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

a {
  transition: all 0.3s ease;
}

.mobile-nav a:hover {
  transform: scale(1.2);
}



/* Start Here Section Styles */

.start-here {
  background-color: #d8d8d8;
  color: #9b9b9b;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.start-here img {
  width: 100%;
  height: auto;
}

.sh-info {
  color: #2C4870;
  font-family: Muli;
  font-weight: 700;
}

.sh-info h1, .sh-info h3, .sh-info .button {
  margin: 1.5rem 0;
}

.sh-info h1 {
  font-size: 4rem;
}

.sh-info h3 {
  font-size: 2rem;
}

.sh-info .button {
  padding: 0.5em 0;
  display: block;
  background-color: #2C4870;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: Muli;
  transition: all 0.3s ease;
}

.sh-info .button:hover {
  background-color: #142E54
}



/* Featured Section Styles */

.featured {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.top-featured img, .thesis img {
  width: 100%;
  height: auto;
}

.top-featured p, .thesis p {
  font-size: 1.2rem;
  padding: 1.5rem 0;
}

.top-featured span, .thesis span {
  font-size: 1.2rem;
}

.side-featured {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-left: 1px solid #d8d8d8;
  padding: 2rem 0;
}

.event {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  height: 10.5rem;
  border-bottom: 1px solid #d8d8d8;
  box-sizing: border-box;
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease;
}

.event:hover {
  background-color: #2C4870;
  color: #fff;
}

.event img {
  width: auto;
  height: 100%;
  margin-right: 1rem;
}

.event span {
  font-size: 1rem;
  display: block;
  padding: 0.5rem 0;
}

.event a {
  text-decoration: none;
  color: #2C4870;
}

.gray {
  background-color: #d8d8d8;
}



/* Learning Section Styles */

.learning {
  background-color: #eaebec;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.learning-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem 0rem;
}

.learning-tile {
  margin: 1rem;
  width: 25%;
  min-width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: white;
  transition: all 0.5s ease;
  cursor: pointer;
}

.learning-tile:hover {
  transform: scale(1.1);
}

.learning-tile img {
  height: 13.75rem;
  width: 100%;
}

.tile-info {
  padding: 1rem 1rem 1.5rem;
  background-color: white;
}

.tile-info h5 {
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 0.5rem 0;
}

.tile-info span {
  font-size: 1.2rem;
}

.mobile-learning-container {
  display: none;
  width: 100%;
  padding-bottom: 0.5rem;
}

.mobile-learning-container h4 {
  padding: 1rem;
  margin-bottom: 0.5rem;
  background-color: #d8d8d8;
  font-size: 1.5rem;
  width: 100%;
  transition: all 0.3s ease;
}

.mobile-learning-container h4:hover {
  transform: scale(1.2);
  background-color: #333;
  color: #d8d8d8;
}



/* Thesis Sections Styles */

.thesis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thesis .col-left video {
  width: 100%;
}

.thesis-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.thesis-container .col-left {
  padding-right: 1rem;
}




/* Footer Styles */

footer {
  padding: 1.5rem 1.5rem 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  border-top: 1px solid #e7e9e9;
}

.footer-links a {
  color: inherit;
  text-decoration: none;
  margin-right: 0.5rem;
}



/* Media Queries */

@media only screen and (max-width: 900px) {
  .col-left, .col-right {
    width: 100%;
  }

  .top-featured {
    display: none;
  }

  .event img {
    width: auto;
    height: 100%;
  }

  .thesis-container {
    margin: 32px 0px 24px;
  }

  .thesis-container .col-right, .thesis-container .col-left h2, .thesis-container .col-left p {
    display: none;
  }

  .thesis-container .col-left {
    padding: 0;
  }
}

@media only screen and (max-width: 767px) {
  .mobile-nav {
    display: flex;
  }

  header .logo, header nav {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .learning-tile {
    width: 100%;
  }

  .footer-links {
    display: none;
  }

  .sh-info h1 {
    font-size: 2.5rem;
  }

  .sh-info h3 {
    font-size: 1.5rem;
  }

  .side-featured {
    padding: 1rem 0;
  }

  .event {
    flex-wrap: wrap;
    height: auto;
    padding: 0 1rem;
  }

  .event img {
    margin: 0;
  }

  .event-details {
    padding: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  h2 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  .sh-info .button {
    font-size: 1rem;
  }

  .learning {
    padding: 1rem;
  }

  .learning h2 {
    padding-bottom: 1rem;
  }

  .learning-container {
    display: none;
  }

  .mobile-learning-container {
    display: block;
  }
}
