body {
  background-color: #111;
  color: #008CA8;
  font-family: Candara;
}

a {
  color: #008CA8;
  font-family: 'Segoe UI';
}

header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 72px;
}

section {
  padding: 100px 10px;
  text-align: center;
}

h2 {
  color: #1D1160;
}

section a {
  display: block;
  width: 100%;
  padding: 10px;
  text-decoration: none;
}

section a:hover {
  background-color: #1d1160;
  color: #fff;
}

section:nth-child(odd) {
  background-color: #A1A1A4;
}

section:nth-child(even) {
  background-color: #fff;
}
