@import url("https://fonts.googleapis.com/css?family=Lato:300|Montserrat:100|Quicksand:300|Roboto+Slab:100|Work+Sans:300");
/* Color Codes

Purple #1d1160, rgb(29,17,96)
Teal #008ca8, rgb(0,140,168)
White #fff, rgb(255,255,255)
Gray #a1a1a4, rgb(161,161,164)

*/
html {
  font-size: 10px; }

* {
  box-sizing: border-box; }

body {
  background-color: #fff;
  color: #008ca8; }

p,
li,
span,
label {
  font-family: "Quicksand"; }

h1,
h2,
h4,
a {
  font-family: "Montserrat"; }

h3,
h5 {
  font-family: "Roboto Slab"; }

a {
  color: #008ca8;
  font-size: 1.5rem; }

p {
  font-size: 2rem; }

h1 {
  font-size: 6rem;
  color: #fff;
  text-shadow: 1px 1px 5px #000;
  z-index: 50; }

h2 {
  text-align: left;
  text-transform: uppercase;
  padding: 2rem 1rem;
  font-size: 5rem;
  color: #bbb; }

h3 {
  font-size: 3rem; }

h5 {
  font-size: 3rem;
  font-weight: bold;
  font-family: Montserrat;
  text-shadow: 1px 1px 5px #000;
  color: #008ca8;
  z-index: 50; }

header {
  position: relative; }
  header .background {
    height: 100vh;
    width: 100%;
    z-index: -1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/personal/6.jpg");
    background-size: cover;
    background-position: center; }
  header .toggle-menu {
    display: none;
    justify-content: flex-end;
    height: 10vh;
    padding: 2rem 4rem 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.8) 90%, black 100%); }
    header .toggle-menu a {
      text-decoration: none;
      font-size: 2rem;
      color: #fff; }
  header nav {
    width: 100%;
    height: 10vh;
    padding: 0 2rem;
    z-index: 100;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.8) 90%, black 100%);
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    header nav a {
      padding: 1rem;
      text-decoration: none;
      font-size: 2rem;
      color: #fff;
      border-bottom: 2px solid transparent;
      transition: all 0.3s ease; }
      header nav a:hover {
        color: white;
        border-bottom: 2px solid #008ca8; }
  header .hero {
    height: 90vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column; }
    header .hero .hero-overlay {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.8) 90%, black 100%);
      padding: 3rem 5rem;
      width: 100%;
      z-index: 30; }

main section {
  padding: 5rem 1rem;
  text-align: left;
  margin: 0 auto; }
  main section:nth-child(2n) {
    background-color: #008ca8; }
    main section:nth-child(2n) h2 {
      color: #006275; }
  main section:nth-child(2n+1) {
    background-color: #eee; }
    main section:nth-child(2n+1) h2 {
      color: #333; }
  main section .container {
    max-width: 1120px;
    margin: 0 auto; }
  main section#About .container {
    display: flex;
    flex-wrap: wrap; }
    main section#About .container h2 {
      flex: 1 0 100%; }
    main section#About .container div {
      flex: 1 0 50%;
      padding: 2rem 0;
      text-align: left; }
      main section#About .container div p,
      main section#About .container div li {
        color: #333;
        font-size: 2rem;
        line-height: 1.5; }
      main section#About .container div .otherDetails {
        padding: 0 2rem;
        list-style: circle; }
  main section#Work .projectContainer {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto; }
    main section#Work .projectContainer > div {
      flex: 1 0 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
    main section#Work .projectContainer:nth-child(odd) .projectImage {
      order: 2; }
    main section#Work .projectContainer:nth-child(odd) .projectDetails {
      order: 1; }
    main section#Work .projectContainer .projectImage a {
      width: 100%;
      height: 100%; }
    main section#Work .projectContainer .projectImage img {
      width: 100%;
      display: block;
      filter: grayscale(100%);
      transition: all 0.4s ease-in; }
    main section#Work .projectContainer:hover .projectImage img {
      filter: grayscale(0%); }
    main section#Work .projectContainer:hover .projectDetails {
      background-color: white; }
    main section#Work .projectContainer .projectDetails {
      transition: all 0.4s ease-in; }
      main section#Work .projectContainer .projectDetails a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 1rem;
        text-decoration: none;
        font-size: 5rem;
        color: white;
        transition: all 0.4s ease-in; }
    main section#Work .projectContainer:hover .projectDetails a {
      color: #008ca8; }
  main section#Resume {
    color: #333; }
    main section#Resume h3 {
      padding: 2rem;
      color: #008ca8; }
    main section#Resume h4 {
      font-size: 3rem;
      padding: 1rem 0; }
    main section#Resume hr {
      opacity: 0.2; }
    main section#Resume span,
    main section#Resume li,
    main section#Resume p {
      font-size: 2rem;
      line-height: 1.5; }
    main section#Resume span {
      padding: 1.5rem;
      display: inline-block; }
    main section#Resume .flex {
      display: flex;
      padding: 1.5rem 0; }
      main section#Resume .flex .resume_left {
        flex: 1 0 40%; }
      main section#Resume .flex .resume_right {
        flex: 1 0 60%; }
      main section#Resume .flex .resume_half {
        flex: 1 0 50%;
        text-align: center; }
        main section#Resume .flex .resume_half:first-child {
          border-right: 1px solid rgba(51, 51, 51, 0.2); }
    main section#Resume .education {
      padding: 1rem 2rem; }
      main section#Resume .education .resume_right span,
      main section#Resume .education .resume_right a {
        line-height: 1.5;
        color: #008ca8;
        text-decoration: none; }
        main section#Resume .education .resume_right span i,
        main section#Resume .education .resume_right a i {
          color: #333; }
      main section#Resume .education span {
        padding: 1.5rem 0; }
        main section#Resume .education span i {
          padding-right: 0.5rem; }
    main section#Resume .experience {
      padding: 1rem 2rem; }
      main section#Resume .experience span {
        padding: 1.5rem 0; }
        main section#Resume .experience span i {
          padding-right: 0.5rem; }
    main section#Resume .technologies .language {
      display: flex;
      padding: 0 5rem; }
      main section#Resume .technologies .language span {
        flex: 1 0 50%;
        padding: 0; }
        main section#Resume .technologies .language span:first-child {
          text-align: left; }
        main section#Resume .technologies .language span:last-child {
          text-align: right; }
          main section#Resume .technologies .language span:last-child i.fas {
            color: #008ca8; }
          main section#Resume .technologies .language span:last-child i.far {
            color: #999; }
  main section#Contact .container {
    display: flex;
    flex-wrap: wrap; }
    main section#Contact .container h2 {
      color: #006275; }
    main section#Contact .container h2,
    main section#Contact .container h4 {
      flex: 1 0 100%; }
    main section#Contact .container h4 {
      color: white;
      font-size: 4rem;
      padding: 0 1rem 3rem;
      text-align: left; }
    main section#Contact .container p,
    main section#Contact .container a,
    main section#Contact .container span.contactOpt,
    main section#Contact .container input[type="text"],
    main section#Contact .container textarea,
    main section#Contact .container label {
      font-size: 2.5rem;
      line-height: 1.5; }
    main section#Contact .container p {
      color: #003742; }
    main section#Contact .container .left,
    main section#Contact .container .right {
      flex: 1 0 50%;
      padding: 0 2rem; }
    main section#Contact .container form {
      margin: 0 auto;
      padding: 0; }
      main section#Contact .container form input[type="submit"] {
        display: block;
        color: #003742;
        background-color: #dbf9ff;
        border: 2px solid #dbf9ff;
        border-radius: 15px;
        box-shadow: 1px 1px 2px #333;
        padding: 1rem 3rem;
        margin: 4rem auto;
        font-size: 2rem;
        font-family: "Quicksand";
        cursor: pointer;
        transition: all 0.5s ease; }
        main section#Contact .container form input[type="submit"]:hover {
          background-color: #a8f1ff;
          border: 2px solid #a8f1ff; }
      main section#Contact .container form input[type="text"],
      main section#Contact .container form textarea {
        border: none;
        border-bottom: 2px dotted #0fd7ff;
        color: white;
        background-color: #008ca8;
        font-family: "Montserrat";
        transition: all 0.3s ease; }
        main section#Contact .container form input[type="text"]:focus,
        main section#Contact .container form textarea:focus {
          border-bottom: 2px dotted white; }
      main section#Contact .container form input[type="text"],
      main section#Contact .container form textarea,
      main section#Contact .container form label {
        width: 100%; }
      main section#Contact .container form label {
        color: white;
        display: block;
        text-align: left; }
    main section#Contact .container span.contactOpt {
      color: white;
      display: block;
      padding: 1rem 0;
      text-align: left; }
      main section#Contact .container span.contactOpt a {
        color: white;
        text-decoration: none; }
        main section#Contact .container span.contactOpt a i {
          color: #0fd7ff;
          transition: all 0.4s ease; }
        main section#Contact .container span.contactOpt a:hover i {
          color: white; }
    main section#Contact .container .socialIcons {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      padding: 1rem 0; }
      main section#Contact .container .socialIcons a {
        color: #0fd7ff;
        padding: 0 2rem 0 0;
        transition: all 0.4s ease; }
        main section#Contact .container .socialIcons a:hover {
          color: white; }

@media only screen and (max-width: 675px) {
  main section#Resume .flex {
    flex-wrap: wrap; }
    main section#Resume .flex .resume_half {
      flex: 1 0 100%; }
      main section#Resume .flex .resume_half:first-child {
        border-right: 0px; } }
@media only screen and (max-width: 600px) {
  header .hero h1 {
    font-size: 4rem; }
  header .hero h5 {
    font-size: 3rem; }

  main section#About .container div {
    flex: 1 0 100%; }
  main section#Work .projectContainer {
    flex-wrap: wrap; }
    main section#Work .projectContainer > div {
      flex: 1 0 100%; }
    main section#Work .projectContainer .projectDetails a {
      justify-content: flex-start;
      font-size: 3rem; }
    main section#Work .projectContainer:nth-child(2n+1) .projectDetails {
      order: 2; }
    main section#Work .projectContainer:nth-child(2n+1) .projectImage {
      order: 1; } }
@media only screen and (max-width: 500px) {
  header .toggle-menu {
    display: flex; }
    header .toggle-menu.active {
      background-color: #000;
      opacity: 0.8; }
      header .toggle-menu.active a {
        color: #fff; }
  header nav {
    display: none;
    position: absolute;
    height: 90vh;
    justify-content: center;
    flex-direction: column;
    background-color: #000;
    opacity: 0.8; }
    header nav.active {
      display: flex; }
    header nav a {
      color: #fff;
      font-size: 4rem; } }

/*# sourceMappingURL=style.css.map */
