/*Sass Variables*/

$primary-color: seashell;
$dark-color: #333;
$cursive-font: 'Great Vibes';
$sans-serif-font: 'Raleway';

/*General Styles*/
body {
  font-family: Raleway;
  font-size: 16px;
  color: $primary-color;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

h2 {
  font-family: 'Great Vibes';
  font-size: 3rem;
  font-weight: 100;
}

h4 {
  font-weight: 100;
  font-size: 1.3rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.absolute-center {
  justify-content: center;
  align-items: center;
}

/*div {
  border: 1px solid red;
}*/


/*Header Styles*/
header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid transparent;
  transition: all 0.5s ease;
  &.fixed {
    background-color: rgba(0,0,0,0.9);
    border-bottom: 1px solid seashell;
  }
  .header-column {
    display: inline-flex;
    /* Mobile Menu */
    &.logo {
      padding-left: 10px;
      img {
        height: 50px;
      }
    }
    .toggle-menu {
      display: none;
      width: 100%;
      text-align: center;
      text-decoration: none;
      padding: 1rem;
      color: $primary-color;
      &.active {
        display: block;
      }
    }
    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      a {
        color: #ccc;
        text-decoration: none;
        margin: 0px 10px;
        padding: 10px;
        display: block;
        &:hover {
          color: $primary-color;
        }
        .cart-items {
          background-color: $primary-color;
          color: $dark-color;
          padding: 0.25rem 0.5rem;
        }
      }
    }
  }
}

/*Main Styles*/
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .hero {
    width: 100%;
    height: 100vh;
    background-image: url(https://jelliott0222.github.io/TeaCozy/resources/images/img-mission-background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    &:before {
      background-color: rgba(0,0,0,0.6);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      content: "";
      z-index: 10;
    }
    .hero-text-container {
      border: 5px solid $primary-color;
      padding: 2rem;
      z-index: 11;
      h1 {
        padding: 1rem 1rem 0;
        margin: 0;
        font-family: Raleway;
        font-size: 4rem;
        font-weight: 100;
      }
      h2 {
        padding: 1rem;
        margin: 0;
        font-family: Raleway;
        font-size: 2rem;
        font-weight: 100;
      }
    }
  }
  .mission {
    width: 100%;
    background-color: $primary-color;
    color: $dark-color;
    .mission-heading {
      padding: 3rem;
    }
  }
  .tea-month {
    padding: 3rem 0;
    .tea-month-images {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .img-container {
        margin: 10px;
        overflow: hidden;
        max-height: 200px;
        max-width: 300px;
        position: relative;
        img {
          height: 200px;
          width: 300px;
          transition: all 0.2s ease-in;
        }
        &:hover img {
          transform: scale(1.2);
        }
        .img-details {
          position: absolute;
          top: 100%;
          left: 0;
          padding: 20px;
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          box-sizing: border-box;
          background-color: rgba(0, 0, 0, 0.8);
          width: 100%;
          height: 100%;
          transition: all 0.3s ease;
          h4 {
            margin: 0 0 20px;
          }
          .img-price {
            padding: 0 0 1rem;
            font-size: 1.25rem;
          }
          a {
            background-color: $primary-color;
            color: $dark-color;
            padding: 0.5rem 1rem;
            text-decoration: none;
            border-radius: 20px;
            &:hover {
              background-color: darken($primary-color, 10%);
            }
          }
        }
        &:hover .img-details {
          top: 0;
        }
      }
    }
    .shop-btn {
      display: inline-block;
      border-bottom: 2px dotted seashell;
      padding: 1rem;
      text-decoration: none;
      color: #fff;
      font-size: 1.5rem;
      i {
        display: none;
      }
      &:hover i {
        display: inline;
      }
    }
  }
  .locations-img-container {
    width: 100%;
    background-image: url(https://jelliott0222.github.io/TeaCozy/resources/images/img-locations-background.jpg);
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
    .locations-group {
      padding: 3rem;
      width: 100%;
      flex-direction: column;
      .location-tabs {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 0;
        margin: 0;
        background-color: $primary-color;
        li {
          list-style: none;
          margin: 0 1rem;
          a {
            display: block;
            padding: 1rem;
            color: $dark-color;
            text-decoration: none;
            border-bottom: 2px dotted $primary-color;
            cursor: pointer;
            &.active {
              border-bottom: 2px dotted $dark-color;
            }
            &:hover {
              border-bottom: 2px dotted $dark-color;
            }
            &::after {
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              box-sizing: border-box;
              height: 0;
              width: 0;
              border-bottom: 5px solid #333;
              position: absolute;
              top: 0;
              left: 0;
            }
          }
        }
      }
      .location-container {
        display: none;
        width: 100%;
        background-color: $primary-color;
        color: $dark-color;
        justify-content: space-around;
        &.active {
          display: flex;
        }
        iframe {
          float: left;
          padding: 1rem;
          border: 0;
          flex: 1 0 auto;
        }
        .location-details {
          flex: 1 0 auto;
          ul {
            list-style: none;
            padding: 0;
          }
          .location-contact-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .location-contact-line {
              padding: 0.5rem 0;
              display: flex;
              justify-content: flex-start;
              i {
                margin-right: 0.5rem;
              }
            }
          }
        }
      }
    }
  }
}

/*Footer Styles*/
footer {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &> div {
    flex: 1;
  }
  .copyright {
    text-align: left;
  }
  .social-icons {
    text-align: center;
    a {
      padding: 0 0.25rem;
      color: $primary-color;
      &:hover {
        color: darken($primary-color, 10%);
      }
    }
  }
  .footer-links {
    text-align: right;
    a {
      color: $primary-color;
      padding: 0 1rem;
      text-decoration: none;
      &:hover {
        color: darken($primary-color, 10%);
      }
    }
  }
}

/*Media Queries*/
@media only screen and (max-width: 600px) {
  header nav {
    display: none;
    overflow: hidden;
    width: 100%;
    background-color: #000;
    position: absolute;
    top: 60px;
    left: 100%;
    transition: all 0.3s ease;
  }

  .toggle-menu {
    display: block;
  }

  .active {
    display: block;
    left: 0;
  }
}
