
<div class="hero flex absolute-center">
  <div class="hero-text-container">
    <h1>Welcome to TeaCozy</h1>
    <h2>Steeped in ingenuitea</h2>
  </div>
</div>
<div class="mission absolute-center flex">
  <div class="mission-heading">
    <h2>Our Mission</h2>
    <h4>Handpicked, Artisanally Curated, Free Range, Sustainable, Small Batch, Fair Trade, Organic Tea</h4>
  </div>
</div>
<div class="tea-month">
  <h2>Tea of the Month</h2>
  <h4>Check Out Our Featured Items</h4>
  <div class="tea-month-images">
    <featured-products></featured-products>
  </div>
  <a class='shop-btn' href="#!shop">Shop more products <i class="fa fa-cart-plus" aria-hidden="true"></i></a>

</div>
<div class="locations-img-container absolute-center flex">
  <div class="locations-group absolute-center flex">
    <h2>Locations</h2>
    <div class="locations-content absolute-center flex">
      <ul class="location-tabs">
        <li><a href="#" class='active'>Downtown</a></li>
        <li><a href="#">East Bayside</a></li>
        <li><a href="#">Oakdale</a></li>
      </ul>
      <div id='Downtown' class="location-container active flex">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d360.7950195345485!2d-70.25608187815996!3d43.66147895022732!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cb29c6bbd4ad437%3A0xe8f3d7d06cf2f81c!2sCoffee+ME+Up!5e0!3m2!1sen!2sus!4v1526009395276" allowfullscreen></iframe>
        <div class="location-details">
          <div class="location-hours">
            <ul>
              <li>Sunday: 8:00 a.m. - 5:00 p.m.</li>
              <li>Monday: 8:00 a.m. - 7:00 p.m.</li>
              <li>Tuesday: 8:00 a.m. - 7:00 p.m.</li>
              <li>Wednesday: 8:00 a.m. - 7:00 p.m.</li>
              <li>Thursday: 8:00 a.m. - 7:00 p.m.</li>
              <li>Friday: 8:00 a.m. - 7:00 p.m.</li>
              <li>Saturday: 11:00 a.m. - 9:00 p.m.</li>
            </ul>
            <p>All times Eastern Standard Time</p>
          </div>
          <div class="location-contact-info">
            <div class="location-contact-line">
              <i class="fa fa-phone fa-fw" aria-hidden="true"></i>
              <span>888.777.5555</span>
            </div>
            <div class="location-contact-line">
              <i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>
              <span><a href='mailto:downtown@teacozy.com'>downtown@teacozy.com</a></span>
            </div>
            <div class="location-contact-line">
              <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>
              <address>
                384 West 4th St<br />
                Suite 108<br />
                Portland, Maine
              </address>
            </div>
          </div>
        </div>
      </div>
      <div id='EastBayside' class="location-container flex">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d360.7950195345485!2d-70.25608187815996!3d43.66147895022732!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cb29c6bbd4ad437%3A0xe8f3d7d06cf2f81c!2sCoffee+ME+Up!5e0!3m2!1sen!2sus!4v1526009395276" allowfullscreen></iframe>
        <div class="location-details">
          <div class="location-hours">
            <ul>
              <li>Sunday: 11:00 a.m. - 5:00 p.m.</li>
              <li>Monday: 8:00 a.m. - 7:00 p.m.</li>
              <li>Tuesday: 8:00 a.m. - 7:00 p.m.</li>
              <li>Wednesday: 8:00 a.m. - 7:00 p.m.</li>
              <li>Thursday: 8:00 a.m. - 7:00 p.m.</li>
              <li>Friday: 8:00 a.m. - 7:00 p.m.</li>
              <li>Saturday: 11:00 a.m. - 9:00 p.m.</li>
            </ul>
            <p>All times Eastern Standard Time</p>
          </div>
          <div class="location-contact-info">
            <div class="location-contact-line">
              <i class="fa fa-phone fa-fw" aria-hidden="true"></i>
              <span>888.789.5555</span>
            </div>
            <div class="location-contact-line">
              <i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>
              <span><a href='mailto:eastbayside@teacozy.com'>eastbayside@teacozy.com</a></span>
            </div>
            <div class="location-contact-line">
              <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>
              <address>
                3433 Phisherman's Avenue<br />
                (Northwest Corner)<br />
                Portland, Maine
              </address>
            </div>
          </div>
        </div>
      </div>
      <div id='Oakdale' class="location-container flex">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d360.7950195345485!2d-70.25608187815996!3d43.66147895022732!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cb29c6bbd4ad437%3A0xe8f3d7d06cf2f81c!2sCoffee+ME+Up!5e0!3m2!1sen!2sus!4v1526009395276" allowfullscreen></iframe>
        <div class="location-details">
          <div class="location-hours">
            <ul>
              <li>Sunday: 8:00 a.m. - 5:00 p.m.</li>
              <li>Monday: 8:00 a.m. - 7:00 p.m.</li>
              <li>Tuesday: 8:00 a.m. - 7:00 p.m.</li>
              <li>Wednesday: 8:00 a.m. - 7:00 p.m.</li>
              <li>Thursday: 8:00 a.m. - 7:00 p.m.</li>
              <li>Friday: 8:00 a.m. - 7:00 p.m.</li>
              <li>Saturday: 11:00 a.m. - 7:00 p.m.</li>
            </ul>
            <p>All times Eastern Standard Time</p>
          </div>
          <div class="location-contact-info">
            <div class="location-contact-line">
              <i class="fa fa-phone fa-fw" aria-hidden="true"></i>
              <span>888.987.5555</span>
            </div>
            <div class="location-contact-line">
              <i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>
              <span><a href='mailto:oakdale@teacozy.com'>oakdale@teacozy.com</a></span>
            </div>
            <div class="location-contact-line">
              <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>
              <address>
                515 Crescent Avenue<br />
                Second Floor<br />
                Portland, Maine
              </address>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="resources/js/main.js"></script>
