html, body {
  font-size: 18px;
  font-family: Helvetica;
}

.container {
  margin: 0px auto;
  max-width: 960px;
  width: 100%;
  display: flex;
}

.mobile-only {
  display: none;
}



/*Header Styles*/

header .logo {
  background-color: black;
  padding: 0.66rem 0rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
}

header .logo .container {
  align-items: center;
  justify-content: flex-start;
}

header .logo img {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

header .logo a {
  text-decoration: none;
  color: #fff;
}

header .main-image {
  background-image: url(https://jelliott0222.github.io/SecretAgentSupply/resources/images/moto.jpeg);
  background-size: cover;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header .main-image .container {
  justify-content: flex-start;
  align-items: center;
  margin-top: 9rem;
}

header .main-image .new-arrival {
  background-color: rgba(0,0,0,0.8);
  padding: 2rem 3rem;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  flex-wrap: wrap;
  max-width: 20rem;
}

.main-image h1, .main-image h2 {
  display: block;
  width: 100%;
}

.main-image h1 {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.main-image h2 {
  font-size: 2rem;
}



/*Navigation*/

header nav {
  background-color: firebrick;
}

header nav .container {
  align-items: center;
  justify-content: space-between;
}

header nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav span {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

header nav span a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 0.75rem 0rem;
  display: block;
}

header nav ul li {
  flex-grow: 1;
  text-align: center;
}

header nav ul li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 0.75rem 0rem;
  display: block;
}

header nav a:hover {
  background-color: #fff;
  color: firebrick;
}



/*Mobile Menu*/

.toggle-menu {
  display: none;
  width: 100%;
  text-align: center;
  text-decoration: none;
  padding: 1rem;
  color: #fff;
}



/*Main Styles*/

main {
  padding: 3rem 0rem 4rem;
  background-color: #eee;
}

main .container {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

main .img-container {
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  width: 30%;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

main .img-container:hover {
  border-color: #555;
}

main .img-container .product-image {
  padding: 2rem 0rem;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

main .img-container .product-image img {
  max-width: 8em;
}

main .img-container span {
  width: 100%;
  background-color: #fff;
  color: firebrick;
  display: block;
  text-align: center;
  padding: 0.5rem 0rem;
}

main .img-container:hover span {
  width: 100%;
  background-color: firebrick;
  color: #fff;
  display: block;
  text-align: center;
  padding: 0.5rem 0rem;
}

main .info-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
}

main .info-row .info {
  margin: 0 10px;
}

main .info-row .info h3 {
  color: #333;
  border-bottom: 2px solid #333;
  padding: 1rem 2rem;
}

main .info-row .info > span {
  padding: 5px 0px;
  display: block;
  text-align: center;
}



/*Footer Styles*/

footer {
  height: 5rem;
  background-color: black;
  color: white;
  font-size: 0.75em;
  display: flex;
  justify-content: center;
  align-items: center;
}



/*Media Queries*/

@media only screen and (max-width: 1024px) {
  main .img-container {
    width: 47%;
    margin: 0.5rem;
    flex: 1 0 auto;
  }

  header nav .container {
    flex-wrap: wrap;
    position: relative;
  }

  header nav ul {
    display: block;
    overflow: hidden;
    height: 0;
    position: absolute;
    top: 100%;
    transition: all 0.3s ease;
  }

  header nav ul li {
    display: block;
    background-color: #333;
  }

  .toggle-menu {
    display: block;
  }

  nav ul a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-family: Calibri;
    padding: 5px;
  }

  nav ul.active {
    height: 100%;
    overflow: visible;
  }
}

@media only screen and (max-width: 470px) {
  header .main-image {
    height: 15rem;
  }

  header .main-image .container {
    margin-top: 10rem;
    width: 100%;
  }

  header .main-image .new-arrival {
    padding: 1rem 2rem;
    width: 100%;
    max-width: 100%;
  }

  .main-image h1 {
    font-size: 0.77rem;
  }

  .main-image h2 {
    font-size: 1rem;
  }

  main .container {
    justify-content: center;
  }

  main .img-container {
    width: 90%;
  }

  main .info-row {
    flex-wrap: wrap;
  }

  main .info-row .info {
    width: 90%;
    margin-bottom: 0.5rem;
  }

  main .info-row .info h3 {
    display: inline;
    border-bottom: 0;
    padding: 1rem 0;
  }

  main .info-row .info span {
    display: inline;
  }

  .copyright {
    margin: 0px auto;
  }
}
