// Import Fonts

@import url('https://fonts.googleapis.com/css?family=Offside|Comfortaa|Roboto+Slab|Montserrat');

// Variables

$clr-primary: #5F9EA0;
$clr-primary-light: lighten($clr-primary, 40%);
$clr-primary-dark: darken($clr-primary, 20%);

$font-primary: 'Comfortaa';
$font-secondary: 'Montserrat';

// Backup Fonts
// Primary: 'Offside';
// Secondary: 'Roboto Slab';

// General Styles

* {
  box-sizing: border-box;
}

html, body {
  font-size: 18px;
  font-family: $font-primary;
}

p {
  font-family: $font-secondary;
}

.container {
  max-width: 1150px;
  margin: 0px auto;
}

.mobile-only {
  display: none;
}

.flex {
  display: flex;
}

.abs-ctr {
  justify-content: center;
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}


// Header Styles

header {
  background-image: url('../images/glasses-bg.jpg');
  background-size: cover;
  background-position: 20%;
  height: 100vh;
  position: relative;

  .header-container {
    background-color: $clr-primary;
    position: fixed;
    width: 100%;
    z-index: 10;
    border-bottom: 2px solid $clr-primary-dark;

    .logo-nav-bar {
      color: $clr-primary-light;
      padding: 1rem 2rem;
      justify-content: space-between;
      align-items: center;

      .logo img {
        margin-right: 1rem;
        height: 1.5rem;
      }

      nav {

        ul {
          list-style: none;
          display: flex;
        }

        li {
          display: block;
          &:last-child {
            padding-right: 0;
          }

          a {
            color: white;
            text-decoration: none;
            display: block;
            padding: 0.5rem 1rem;
            border-bottom: 2px solid transparent;
            &:hover {
              color: $clr-primary-dark;
            }
          }
        }

        span {
          width: 100%;
          align-items: center;
          justify-content: space-between;
          text-align: center;

          a {
            color: white;
            font-weight: bold;
            text-decoration: none;
            padding: 0.75rem 0rem;
            display: block;

            &:hover {
              color: $clr-primary-light;
            }
          }
        }
      }
    }
  }

  .headline {
    background-color: rgba($clr-primary-dark, 0.5);
    color: $clr-primary-light;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding: 1.5rem 5rem 5rem;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    display: inline-block;
  }
}



// Main Styles

.icon-row {
  padding: 2rem 0;
  justify-content: space-around;
  flex-wrap: wrap;

  .icon-container {
    width: 250px;
    height: 250px;
    margin: 0.77rem 0.5rem;
    position: relative;
    overflow: hidden;

    text-align: center;
    border-radius: 50%;

    flex-direction: column;

    img {
      width: 100%;
      height: 100%;
      transition: all 0.5s ease;
    }

    &:hover img {
      transform: scale(1.1);
    }

    div {
      padding: 2rem;
      z-index: 1;

      background-color: rgba($clr-primary,0.5);
      color: white;
      font-size: 1.5rem;
      line-height: 1.5;

      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}

.info-row {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;

  .item1 {
    grid-area: 1/1/2/3;
  }
  .item2 {
    grid-area: 1/1/2/2;
  }
  .item3 {
    grid-area: 2/1/3/3;
  }
  .item4 {
    grid-area: 2/2/3/3;
  }

  img {
    width: 100%;
  }

  .info-container-details {
    padding: 2rem 1rem;
    background-color: rgba($clr-primary,0.8);
    color: white;

    // &:nth-child(n+3) {
    //   background-color: rgba(white,0.5);
    //   color: $clr-primary;
    // }

    h3 {
      font-weight: bold;
      font-size: 2.5rem;
      text-transform: uppercase;
      color: $clr-primary-dark;
      width: 100%;
      padding: 0.5rem 1.25rem;
    }

    p {
      padding: 0.5rem 1.25rem;
      line-height: 1.5rem;
      font-size: 1.2rem;
    }

    .appt-option {
      display: block;
      padding: 0.5rem 1.25rem;
      line-height: 1.5;
    }
  }
}

.contact-row {
  padding: 2rem 1rem;
  flex-direction: column;

  h3 {
    text-align: center;
    font-size: 1.5rem;
    color: $clr-primary-dark;
    padding: 0 0 1rem;
  }
  .contact-form {
    width: 100%;
    max-width: 960px;

    label,
    input,
    textarea {
      display: block;
      width: 100%;
      padding: 0.5rem 0.5rem 0.25rem;
      font-size: 1rem;
      font-family: $font-secondary;
    }

    label {
      color: $clr-primary;
    }

    input,
    textarea {
      border: none;
      border-bottom: 1px solid #ccc;
    }

    button {
      margin: 1rem auto;
      padding: 0.5rem;
      font-size: 1rem;
      font-family: $font-primary;
      background-color: $clr-primary;
      color: white;
      border: 2px solid $clr-primary;
      transition: all 0.5s ease;
      cursor: pointer;

      &:hover {
        color: $clr-primary;
        background-color: white;
      }
    }
  }
}



// Footer Styles

footer {
  background-color: $clr-primary;
  color: $clr-primary-dark;
  padding: 4rem 3rem;

  .container.flex {
    padding: 1rem 0;
    justify-content: space-between;
    flex-wrap: wrap;

    &.abs-ctr {
      justify-content: center;
    }

    &:first-child > div {
      flex: 1 0 300px;
      padding: 1rem 0 0;
      flex-wrap: wrap;
    }

    .footer-links {
      a {
        padding: 0.5rem;
        text-decoration: none;
        color: $clr-primary-dark;

        &:hover {
          color: $clr-primary-light;
        }
      }
    }

    .social-icons {

      a {
        color: $clr-primary-dark;
        padding: 0 0.25rem;
        &:hover {
          color: $clr-primary-light;
        }
      }
    }
  }
}



// Media Queries

@media only screen and (max-width: 1260px) {
  .info-row .info-container-details {
    padding: 1rem;

    h3 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }

  header {
    padding-top: 0;
    height: 25rem;

    .headline {
      padding: 0.75rem 4rem;
      font-size: 1.33rem;
      margin-right: 2rem;
      margin-top: 5rem;
    }
  }

  .info-row {
    display: block;
    // grid-template-columns: 100%;
    // grid-template-rows: repeat(4, 25%);
    // .item1 {
    //   grid-area: 1/1/2/2;
    // }
    // .item2 {
    //   grid-area: 2/1/3/2;
    // }
    // .item3 {
    //   grid-area: 3/1/4/2;
    // }
    // .item4 {
    //   grid-area: 4/1/5/2;
    // }

    .info-container-details {
      background-color: $clr-primary;
    }
  }
}

@media only screen and (max-width: 700px) {
  .mobile-only {
    display: flex;
  }

  header .header-container .logo-nav-bar nav ul {
    display: none;
    position: absolute;
    top: 100%;
    right: 0px;
    width: 100%;
    background-color: $clr-primary;
    // &::before {
    //   content: "";
    //   border: 5px solid #333;
    //   position: absolute;
    //   left: 50%;
    //   top: -12px;
    //   border-width: 5px;
    //   border-style: solid;
    //   border-color: transparent transparent #333 transparent;
    //   padding: 0;
    // }

    &.active {
      display: block;
    }

    li a {
     border-bottom: none;
     border-top: 1px solid $clr-primary-light;
     &:hover {
       background-color: $clr-primary-dark;
       color: $clr-primary-light;
     }
    }
  }
}

@media only screen and (max-width: 471px) {
  header {
    height: 20rem;

    .logo span {
      display: none;
    }

    .headline {
      padding: 1rem 0rem;
      font-size: 1rem;
      margin-top: 9rem;
      width: 100%;
      margin-right: 0rem;
      text-align: center;
    }
  }

  .icon-row {
    .icon-container {
      font-size: 0.77rem;
      line-height: 1rem;
    }
  }

  .info-row {
    flex-direction: column;
    padding-bottom: 0;

    .info-container-details {
      width: 100%;
      margin: 0;

      h3 {
        width: 100%;
        font-size: 1.5rem;
      }

      p {
        margin: 0;
      }
    }
  }

  footer {
    justify-content: center;
    align-items: center;
    padding: 2rem;

    .container.flex:first-child > div {
      flex: 1 0 100%;
    }

    div.container.flex {
      justify-content: center;
    }

    .copyright {
      text-align: center;
      line-height: 1.5;
    }
  }
}
